:root{
       --cor-primaria: #183C63;
       --cor-primaria: #3782D2;
       --cor-fundo: #FFFFFF;
       --cor-texto: #151428;
       --cor-contraste: #F3EEF7;
       --cor-botao: #F9F9F9;
       
}
.tema-escuro {
        --cor-primaria: #A6CEFE;
       --cor-primaria: #98CAFF;
       --cor-fundo: #0F172A;
       --cor-texto: #FFFFFF;
       --cor-contraste: #1E293B;
       --cor-botao: #151428;
}
.tema-escuro a {
       color: var(--cor-secundaria);
}

body {
       max-width: 100vw;
}

header{
background-color:var(--cor-primaria);
      color: var (--cor-contraste)
      text-align: c#FFFFFF;enter;
      margin: 0 auto;
       padding: 16px;
    }
    main{
      background-color: #FFFFFF;
      color: #FFA500;
      margin: 0 auto;
      padding: 16px;
            display: flex;
           flex-wrap: wrap;

       article {
              display: flex;

              border: 1px solid #183C63;

              margin: 16 px;
               gap: 16 px;
               padding: 16 px;
              flex: 1 1 25%;
       
    }
           flex-direction: column;
           align-items: center;
           text-align: center;
           justify-content: center;

.btn-tema-escuro{
       position: fixed;
       bottom: 16px;
       right: 16px;
       font-size: 32px;
       padding: 12px;
       background-color: var (--cor-primaria);
       border-radius: 50%;
}
